@import "../../vars.css";
/* Modal Styles */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(92, 114, 162, 0.644);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  box-shadow: 0 0 25px rgb(255, 0, 0);
  animation: fadeIn 0.3s ease-in-out;
}

.modalTitle {
  font-size: 1.8rem;
  color: #333333;
  margin-bottom: 1rem;
}

.modalMessage {
  font-size: 1.2rem;
  color: #555555;
  margin-bottom: 1.5rem;
}

.modalCloseBtn {
  background-color: #e02323;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.modalCloseBtn:hover {
  background-color: #d32f2f;
}

/* Animation for modal */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Rest of your styles */

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 99px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
   
  }
  .features {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; 
    width: 100%;
    gap: 20px; 
  }
  
  .featureCard {
    background: linear-gradient(135deg, #3301ff, #6fb5ef); 
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(8, 45, 255, 0.836), 0 0 40px rgba(0, 88, 252, 0.75); /* Always-glowing shadow */
    flex: 1;
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
    border: 2px solid rgba(255, 255, 255, 0.8); /* Glowing border always present */
  }
  
  .featureCard:before {
    content: "";
    position: absolute;
    top: -5px; 
    left: -5px; 
    right: -5px; 
    bottom: -5px; 
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.3), transparent);
    border-radius: 20px;
    opacity: 0.7;
    filter: blur(10px);
    z-index: -1;
  }
  
  .featureTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
  }
  
  .featureDescription {
    font-size: 1rem;
    color: white;
  }
  
  @media screen and (max-width: 830px) {
    .features {
      flex-direction: row; /* Keeping cards in one row */
      gap: 10px;
    }
  
    .featureCard {
      width: 50%; /*equal width on mobile */
    }
  }
  
  
  .highlight {
    color: #ff5722; /* Customize your color */
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
    width: 65%; 
  }
  
  .title {
    font-size: 48px; 
    font-weight: 900;
    margin-bottom: 33px;
    font-family: var(--font-roboto);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 70%,
      rgba(255, 255, 255, 0) 120%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  
  .description {
    font-size: 24px; 
    font-family: var(--font-roboto);
    margin-bottom: 20px;
  }
  
  .contactBtn {
    text-decoration: none;
    background-color: var(--color-primary);
    color: white;
    border: 2px solid #ffffff; 
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 24px; 
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    margin-top: 10px; 
    z-index: 1;
    transition: all 0.3s ease;
    
  }
  .contactBtn:hover {
    background-color: #3301ff; 
    color: #ffffff;
    border-color: #6fb5ef; 
    transform: translateY(-5px); 
  }
  
  .heroImg {
    width: 30%; 
    z-index: 1;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .desktopGif {
    display: block;
  }
  .mobileGif {
    display: none;
  }
  
  @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, 10px);
    }
    100% {
      transform: translate(0, -0px);
    }
  }
  
  .topBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    top: -128px;
    left: -10vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
  }
  
  .bottomBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    top: 246px;
    right: -25vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
  }
  

   @media screen and (max-width: 830px) {
    .desktopGif {
      display: none;
    }
    .container {
      flex-direction: column-reverse;
      padding: 20px; /* padding for mobile */
      margin-left: 0;
      margin-right: 0;
    }
  
    .content {
      align-items: center;
      width: 100%;
    }
  
    .title {
      font-size: 32px; 
      text-align: center;
    }
  
    .description {
      font-size: 18px;
      text-align: center;
    }
  
    .contactBtn {
      font-size: 16px; 
      padding: 10px 20px;
    }
  
    .heroImg {
      width: 80%; 
      margin-top: 20px;
    }
    .mobileGif {
      display: block;
      width: 100%; 
      margin-top: -20px;
    }
  }