* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  color: #f0f0f0;
}

body {
  background-color: #0b0d15;
}

.centeredTitle {
  text-align: center;
  margin-top: 60px;
  font-size: 2.5rem;
  color: #ffffff;
}

.subtitle {
  text-align: center;
  margin: 20px auto;
  font-size: 1.3rem;
  color: #a2a5b3;
  max-width: 80%;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}

.card {
  background-color: #1c1f2b;
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  border: 2px solid rgba(217, 255, 0, 0.2);
}

/* Multi-color glowing border */
.card::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: linear-gradient(45deg, rgba(255, 0, 204, 1), rgba(51, 51, 255, 1), rgba(0, 255, 204, 1));
  z-index: -1;
  border-radius: 10px;
  background-size: 400% 400%;
  animation: glowing-border 5s linear infinite;
}

@keyframes glowing-border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(255, 0, 204, 0.7), 0 0 50px rgba(51, 51, 255, 0.7), 0 0 75px rgba(0, 255, 204, 0.7);
}

.card h1 {
  margin-bottom: 20px;
  font-size: 1.6rem;
}

.card p {
  font-size: 1rem;
  line-height: 1.5;
}

.icon {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

/* Show More Button Styles */
.showMoreContainer {
  text-align: center;
  margin-top: 20px;
}

.showMoreButton {
  background-color: #1c1f2b;
  border: none;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.showMoreButton:hover {
  background-color: #3c3f4e;
}

/* Hide show more button on desktop */
@media (min-width: 901px) {
  .showMoreContainer {
    display: none;
  }
}

@media (max-width: 900px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cardContainer {
    grid-template-columns: 1fr;
  }
}
