@import "../../vars.css";

.navbar {
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10%; 
  z-index: 1000; 
  background-color: rgb(255, 255, 255); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.title {
  display: flex;
  font-size: 40px;
  font-weight: 600;
  text-decoration: none;
  color: rgb(12, 3, 115);
}

.menuBtn {
  display: none;
}

.menu {
  display: flex;
}
.logo {
  width: 60px; 
  height: 40px; 
  margin-right: 10px; 
  
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
  color: rgb(0, 11, 49);
}

.menuItems a {
  
  color: rgb(9, 1, 96);;
  text-decoration: none;
  font-size: 25px;
  /* color: rgb(0, 0, 63); */
  text-decoration: none;
  position: relative;
}

/* hover effect */
.menuItems a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  display: block;
  border-radius: 50px;
  margin-top: 5px;
  background: rgb(4, 9, 104); 
  transition: width 0.3s ease; 
}

.menuItems a:hover::after {
  width: 100%; /* Expand underline on hover */
}

@media screen and (max-width: 830px) {
  .title{
    font-size: 25px;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .logo {
    width: 40px; 
    height: 30px; 
    margin-right: 10px; 
    
  }
  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(25, 55, 109);
    background: linear-gradient(
      0deg,
      rgba(25, 55, 109, 0.2) 0%,
      rgba(25, 55, 109, 1) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }
  .menuItems a{
    color: white;
  }
  .menuItems a::after {
    background: white;
    
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}
